/*********************************************
* Reset
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************
* Element base style
**********************************************/
body
{
  font-family: "Lato" , san-serf;
  font-size: 100%;
  line-height: 1.4;
  background-color: #fff;
  color: #777;
}

img
{
  width: 100%;
}

section
{
  width: 100%;
  display: block;
}

p
{
  padding: 5px;
}

ul
{
  list-style: none;
  display: block;
  width: 100%;
}

header
{
  background-color: #000;
  color: #f5f5f5;
}

form input
{
  border-radius: 0;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  font-size: .98em;
}


/*********************************************
* wrapper style
**********************************************/
.wrapper{
  width: 90%;
  margin: auto;
  max-width: 1200px;
  border: 1px solid red;
}

@media all and (max-width: 768px)
{
  .wrapper{
    width: 98%;
  }
 
}

/*********************************************
* header style
**********************************************/
.header{
  padding: 10px;
}

/*********************************************
* main content style
**********************************************/
.main-content{
  margin: 20px 0;
}

.main-content ul li{
  border: 2px solid #212124;
  margin: 10px 1%;
  background-color: #eee;
}

.main-content img{
  height: 240px;
}

@media all and (min-width: 769px)
{
  .main-content ul li{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 10px 1%;
  }

  .main-content ul li:first-child{
    margin-left: 6%;
  }
}

@media all and (min-width: 1200px)
{


}